<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>BlueBox System Monitor</title>
        {% endif %}
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
      </head>
      <body>
        <div>
          BlueBox System Monitor:
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}       

        {% block content %}



        {% endblock %}
    </body>
</html>